{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="{{ film.Poster }}" alt="Card image cap">
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    {{ film.Title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ film.Year }}</h5>
                    <h5 class="card-title">{{ film.Genre }}</h5>
                    <h5 class="card-title">{{ film.Director }}</h5>
                    <p class="card-text">{{ film.Plot }}</p>
                </div>
            </div>

            <div class="row form_partage">
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-lg bouton_partage">
                        <span class="fas fa-share-alt-square"></span> Partage de ouf !!
                    </button>
                </div>

                <div class="col-md-8">
                    <form action="{{url('partage')}}" method="POST" class="col-md-8">
                        <input class="form-control" id="adresseMail" type="email" name="adresseMail" placeholder="Entrer l'adresse e-mail">
                        <input id="imdbId" name="imdbId" type="hidden" value='{{ film.imdbID }}'>
                
                        <button type="submit" class="btn btn-primary btn_form">Envoyer à ce glandu !</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}