{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    {{ include('header.html.twig') }}

    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <form>
                    <label for="exampleInputEmail1">Recherche de films</label>
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="rechercheHelp" placeholder="Entrer votre recherche">
        
                    <button type="submit" class="btn btn-primary">C'est parti !</button>
                </form>
            </div>

            <div class="col">
                <div class="row"> 
                    <h3 class=" bg-info text-uppercase">Films</h3>
                </div>
                    <div class="row">
                        {% for item in liste %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ item.Poster }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.Title }}</h5>
                                    <h5 class="card-title">{{ item.imdbID }}</h5>
                                    <p class="card-text">{{ item.Year }}</p>
                                    <a href="{{url('FilmSelectionne', 
                                            { 'link': item.imdbID  })}}" class="btn btn-primary">Plus de détails</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ include('lien.html.twig') }}

{% endblock %}